{% extends "base/base.html" %}

{% block title %}
	Reestablecer contraseña
{% endblock title %}

{% block header %}Reestablecer la contraseña{% endblock header %}

{% block content %}
	
	{% if validlink %}
		<h2>Has solicitado un reestablecimiento de contraseña</h2>
		<h2>Por favor, ingresa tu nueva contraseña para continuar</h2>

		<form method="post">{% csrf_token %}
			<div class="input-field">
				{{ form.new_password1.errors }}
				{{ form.new_password1 }}
				<label for="id_new_password1">Nueva contraseña:</label>
			</div>
			<div class="input-field">
				{{ form.new_password2.errors }}
				{{ form.new_password2 }}
				<label for="id_new_password2">Confirme la contraseña:</label>
			</div>
			<div class="input-field">
				<input type="submit" name="password_reset" value="Reestablecer contraseña">
			</div>
		</form>

	{% else %}
	
		<h2 class="red-text">ENLACE INVÁLIDO: Este enlace ya ha sido utilizado.</h2>

	{% endif %}

{% endblock content %}