{% extends "base/base.html" %}

{% block content %}
	{% block reset_password %}
		<div class="col s12 m12 l12">
			<h4>Recuperar contraseña</h4>
			<h5>Por favor, completa el formulario con tus datos reales.</h5>
			<form method='post'>{% csrf_token %}
				<div class="input-field">
					{{ form.email }}
					<label for="id_email">Email / Correo electrónico</label>
				</div>
				<div class="input-field">
					<input type="submit" name="Recuperar" value="Enviar correo" class="btn green">
				</div>
			</form>
			
		</div>

	{% endblock reset_password %}
{% endblock content %}